In [1]:
import pandas as pd
import numpy as np

In [3]:
full = pd.read_csv("Data/full_data.csv")
full.head()

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
0,Kareem Abdul-Jabbar*,C,41,LAL,74,1695,12.9,0.511,0.005,0.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
1,Mark Acres,C,26,BOS,62,632,8.2,0.507,0.009,0.421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
2,Michael Adams,PG,26,DEN,77,2787,17.5,0.567,0.431,0.363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
3,Mark Alarie,PF,25,WSB,74,1141,13.3,0.531,0.088,0.202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
4,Randy Allen,SG,24,SAC,7,43,6.9,0.428,0.053,0.105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False

In [5]:
all_star = full[full["All_NBA_Boolean"] == True]
all_star

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
14,Charles Barkley*,PF,25,PHI,79,3088,27.0,0.653,0.134,0.661,...,F,1st,412.0,425.0,0.969,80.0,NaN,NaN,1988-1989,True
41,Tom Chambers,PF,29,PHO,81,3002,19.3,0.547,0.052,0.364,...,F,2nd,174.0,425.0,0.409,1.0,NaN,NaN,1988-1989,True
56,Terry Cummings,SF,27,MIL,80,2824,19.7,0.518,0.010,0.294,...,F,3rd,70.0,425.0,0.165,1.0,NaN,NaN,1988-1989,True
81,Dale Ellis,SG,28,SEA,82,3190,19.7,0.589,0.198,0.270,...,G,3rd,83.0,425.0,0.195,1.0,NaN,NaN,1988-1989,True
84,Patrick Ewing*,C,26,NYK,80,2896,22.1,0.607,0.005,0.378,...,C,2nd,267.0,425.0,0.628,17.0,NaN,NaN,1988-1989,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15207,Chris Paul,PG,36,PHO,65,2139,20.8,0.581,0.270,0.274,...,G,3T,114.0,500.0,0.228,0.0,16.0,66.0,2021-2022,True
15260,Pascal Siakam,PF,27,TOR,68,2578,20.3,0.565,0.181,0.314,...,F,3T,63.0,500.0,0.126,0.0,7.0,42.0,2021-2022,True
15277,Jayson Tatum,SF,23,BOS,76,2731,21.8,0.578,0.416,0.300,...,F,1T,390.0,500.0,0.780,49.0,47.0,4.0,2021-2022,True
15294,Karl-Anthony Towns,C,26,MIN,74,2476,24.1,0.640,0.301,0.385,...,C,3T,174.0,500.0,0.348,0.0,38.0,60.0,2021-2022,True
15342,Trae Young,PG,23,ATL,76,2652,25.4,0.603,0.395,0.358,...,G,3T,110.0,500.0,0.220,0.0,11.0,77.0,2021-2022,True

In [7]:
no_star = full[full["All_NBA_Boolean"] == False]
no_star

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
0,Kareem Abdul-Jabbar*,C,41,LAL,74,1695,12.9,0.511,0.005,0.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
1,Mark Acres,C,26,BOS,62,632,8.2,0.507,0.009,0.421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
2,Michael Adams,PG,26,DEN,77,2787,17.5,0.567,0.431,0.363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
3,Mark Alarie,PF,25,WSB,74,1141,13.3,0.531,0.088,0.202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
4,Randy Allen,SG,24,SAC,7,43,6.9,0.428,0.053,0.105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,Tremont Waters,PG,24,TOT,3,50,5.4,0.357,0.643,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15439,Derrick White,SG,27,TOT,75,2199,14.8,0.549,0.461,0.294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15440,Justise Winslow,SF,25,TOT,48,774,13.1,0.479,0.257,0.257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15441,Moses Wright,PF,23,TOT,4,14,18.3,0.470,0.250,0.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15442,Thaddeus Young,PF,33,TOT,52,845,17.0,0.548,0.176,0.180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False

In [16]:
all_star.drop_duplicates(subset=['Player', 'Tm'], keep='first').sort_values("Player")

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
9532,Al Horford,C,24,ATL,77,2704,20.7,0.587,0.004,0.204,...,C,3rd,62.0,595.0,0.104,0.0,NaN,NaN,2010-2011,True
10958,Al Jefferson,C,29,CHA,73,2553,22.7,0.532,0.011,0.201,...,C,3rd,191.0,625.0,0.306,4.0,NaN,NaN,2013-2014,True
4174,Allen Iverson*,SG,23,PHI,48,1990,22.2,0.508,0.188,0.449,...,G,1st,532.0,590.0,0.902,93.0,NaN,NaN,1998-1999,True
4261,Alonzo Mourning*,C,28,MIA,46,1753,24.6,0.563,0.003,0.667,...,C,1st,542.0,590.0,0.919,95.0,NaN,NaN,1998-1999,True
6995,Amar'e Stoudemire,C,22,PHO,80,2889,26.6,0.617,0.012,0.595,...,C,2nd,367.0,620.0,0.592,9.0,NaN,NaN,2004-2005,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,Vin Baker,PF,25,MIL,78,3159,20.1,0.553,0.043,0.416,...,F,3rd,61.0,575.0,0.106,0.0,NaN,NaN,1996-1997,True
3591,Vin Baker,C,26,SEA,82,2944,20.4,0.564,0.006,0.452,...,F,2nd,269.0,580.0,0.464,10.0,NaN,NaN,1997-1998,True
4518,Vince Carter,SF,23,TOR,82,3126,23.4,0.543,0.139,0.325,...,F,3rd,194.0,605.0,0.321,13.0,NaN,NaN,1999-2000,True
6442,Yao Ming*,C,23,HOU,82,2692,21.9,0.586,0.002,0.435,...,C,3rd,189.0,615.0,0.307,0.0,NaN,NaN,2003-2004,True
9646,Zach Randolph,PF,29,MEM,75,2724,22.6,0.552,0.036,0.333,...,F,3rd,67.0,595.0,0.113,0.0,NaN,NaN,2010-2011,True

In [17]:
np.unique(all_star["Pos"])

array(['C', 'PF', 'PG', 'SF', 'SG'], dtype=object)

In [19]:
no_star[no_star["year"] == '2004-2005']

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
6646,Shareef Abdur-Rahim,PF,28,POR,54,1867,18.7,0.581,0.058,0.379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
6647,Cory Alexander,SG,31,CHA,16,201,8.8,0.451,0.388,0.245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
6649,Tony Allen,SG,23,BOS,77,1262,14.7,0.542,0.080,0.393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
6650,Rafer Alston,PG,28,TOR,80,2717,16.5,0.522,0.399,0.265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
6651,Chris Andersen,C,26,NOH,67,1430,18.5,0.581,0.008,0.531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7105,David Wesley,SG,34,TOT,80,2774,11.8,0.513,0.375,0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
7106,Rodney White,SF,24,TOT,58,677,12.3,0.475,0.208,0.152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
7107,Aaron Williams,C,33,TOT,42,315,5.9,0.518,0.000,0.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
7108,Eric Williams,SG,32,TOT,55,1322,10.7,0.529,0.221,0.488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False
7109,Corliss Williamson,PF,31,TOT,72,1527,14.7,0.536,0.003,0.418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-2005,False

In [20]:
all_star[all_star["year"] == '2004-2005']

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
6648,Ray Allen*,SG,29,SEA,78,3064,20.9,0.555,0.372,0.286,...,G,2nd,177.0,620.0,0.285,1.0,NaN,NaN,2004-2005,True
6655,Gilbert Arenas,PG,23,WAS,80,3274,21.3,0.565,0.369,0.420,...,G,3rd,104.0,620.0,0.168,1.0,NaN,NaN,2004-2005,True
6695,Kobe Bryant*,SG,26,LAL,66,2689,23.3,0.563,0.292,0.502,...,G,3rd,108.0,620.0,0.174,1.0,NaN,NaN,2004-2005,True
6746,Tim Duncan*,PF,28,SAS,66,2203,27.0,0.540,0.009,0.437,...,F,1st,553.0,620.0,0.892,95.0,NaN,NaN,2004-2005,True
6772,Kevin Garnett*,PF,28,MIN,82,3121,28.2,0.567,0.018,0.404,...,F,2nd,408.0,620.0,0.658,34.0,NaN,NaN,2004-2005,True
6826,Allen Iverson*,PG,29,PHI,75,3174,23.2,0.532,0.186,0.432,...,G,1st,498.0,620.0,0.803,69.0,NaN,NaN,2004-2005,True
6834,LeBron James,SF,20,CLE,80,3388,25.7,0.554,0.183,0.378,...,F,2nd,421.0,620.0,0.679,45.0,NaN,NaN,2004-2005,True
6879,Shawn Marion,PF,26,PHO,81,3146,21.7,0.556,0.265,0.213,...,F,3rd,134.0,620.0,0.216,0.0,NaN,NaN,2004-2005,True
6889,Tracy McGrady*,SF,25,HOU,78,3182,22.9,0.526,0.262,0.336,...,F,3rd,264.0,620.0,0.426,15.0,NaN,NaN,2004-2005,True
6911,Steve Nash*,PG,30,PHO,75,2573,22.0,0.606,0.254,0.278,...,G,1st,606.0,620.0,0.977,118.0,NaN,NaN,2004-2005,True
6916,Dirk Nowitzki,PF,26,DAL,78,3020,26.1,0.578,0.158,0.490,...,F,1st,510.0,620.0,0.823,75.0,NaN,NaN,2004-2005,True
6918,Shaquille O'Neal*,C,32,MIA,73,2492,27.0,0.583,0.000,0.699,...,C,1st,616.0,620.0,0.994,122.0,NaN,NaN,2004-2005,True
6995,Amar'e Stoudemire,C,22,PHO,80,2889,26.6,0.617,0.012,0.595,...,C,2nd,367.0,620.0,0.592,9.0,NaN,NaN,2004-2005,True
7022,Dwyane Wade,SG,23,MIA,77,2974,23.1,0.561,0.034,0.578,...,G,2nd,417.0,620.0,0.673,35.0,NaN,NaN,2004-2005,True
7025,Ben Wallace*,C,30,DET,74,2671,17.4,0.459,0.014,0.467,...,C,3rd,105.0,620.0,0.169,0.0,NaN,NaN,2004-2005,True

In [23]:
full.sort_values("year", ascending=False)

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,All_NBA_Pos,All_NBA_Team,All_NBA_Pts_Won,All_NBA_Pts_Max,All_NBA_Share,All_NBA_1st_Team_Votes,All_NBA_2nd_Team_Votes,All_NBA_3rd_Team_Votes,year,All_NBA_Boolean
15442,Thaddeus Young,PF,33,TOT,52,845,17.0,0.548,0.176,0.180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15045,Richaun Holmes,C,28,SAC,45,1074,17.8,0.689,0.017,0.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15043,Jaylen Hoard,SF,22,OKC,7,240,18.0,0.536,0.278,0.156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15042,Nate Hinton,SG,22,IND,2,2,-45.2,0.000,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
15041,Solomon Hill,PF,30,ATL,13,139,3.3,0.200,0.650,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Mike Sanders,SF,28,CLE,82,2102,10.5,0.482,0.014,0.184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
239,Danny Schayes,C,29,DEN,76,1918,15.4,0.618,0.015,0.662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
240,Russ Schoene,PF,28,SEA,69,774,12.1,0.479,0.315,0.163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
241,Byron Scott,SG,27,LAL,74,2605,16.6,0.558,0.161,0.189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False
0,Kareem Abdul-Jabbar*,C,41,LAL,74,1695,12.9,0.511,0.005,0.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988-1989,False